<TABLE width="100%">
  <TBODY>
    <TR>
      <TD class=header><I>Public Registry Online</I> Details report</TD>
    </TR>
  </TBODY>
</TABLE>
<TABLE width="100%">
  <TBODY>
    <TR vAlign=top>
      <TD align=left>
        <TABLE>
          <TBODY>
            <TR>
              <TD class=label>Surname:</STRONG></TD>
              <TD>G. R. Langlois (1991) Limited</TD>
              <TD class=spacer></TD>
              <TD class=label>Forename:</STRONG></TD>
              <TD></TD>
            </TR>
            <TR>
              <TD class=label>Maiden Name:</STRONG></TD>
              <TD></TD>
              <TD></TD>
              <TD class=label>Extended Text:</TD>
              <TD></TD>
            </TR>
            <TR>
              <TD class=label>Summary Details:</TD>
              <TD colSpan=4></TD>
            </TR>
            <TR>
              <TD class=label>Index:</STRONG></TD>
              <TD>Table
              <TD></TD>
              <TD class=label>Doc Number:</STRONG></TD>
              <TD></TD>
            </TR>
            <TR>
              <TD class=label>Doc Type:</STRONG></TD>
              <TD colSpan=4>Co-ownership Declaration</TD>
            </TR>
            <TR>
              <TD class=label>Book/Page:</STRONG></TD>
              <TD>Book 1356 Page 320</TD>
              <TD></TD>
              <TD class=label>Date Reg:</STRONG></TD>
              <TD>25/09/2015</TD>
            </TR>
            <TR>
              <TD class=label>Role:</TD>
              <TD colSpan=4>Blank - Unspecified</TD>
            </TR>
          </TBODY>
        </TABLE>
      </TD>
      <TD width=50></TD>
      <TD align=right>
        <TABLE id=Table3>
          <TBODY>
            <TR>
              <TD class=label>Print Date:</STRONG></TD>
              <TD>01/10/2015 14:28</TD>
            </TR>
            <TR>
              <TD class=label>User Id: </STRONG></TD>
              <TD>PridePublic13 (Public Registry (Strongrooms))</TD>
            </TR>
            <TR>
              <TD class=label>Office: </STRONG></TD>
              <TD>Strong Room</TD>
            </TR>
          </TBODY>
        </TABLE>
      </TD>
    </TR>
  </TBODY>
</TABLE>
  <DIV id=pnl_Parties>
<BR>
<TABLE width="100%">
  <TBODY>
    <TR>
      <TD class=header>Parties</TD>
    </TR>
  </TBODY>
</TABLE>
<TABLE>
  <TBODY>
    <TR>
      <TD class=label>Role</STRONG></TD>
      <TD class=spacer></TD>
      <TD class=label>Surname/Corporate Name</STRONG></TD>
      <TD class=spacer></TD>
      <TD class=label>Maiden Name</STRONG></TD>
      <TD class=spacer></TD>
      <TD class=label>Forename</STRONG></TD>
      <TD class=spacer></TD>
      <TD class=label>Extended Text</STRONG></TD>
    </TR>
    <TR>
      <TD>Blank - Unspecified</TD>
      <TD></TD>
      <TD>G. R. Langlois (1991) Limited</TD>
      <TD></TD>
      <TD><%= @name_seq %></TD>
      <TD></TD>
      <TD></TD>
      <TD></TD>
      <TD></TD>
    </TR>
    <TR>
      <TD>Blank - Unspecified</TD>
      <TD></TD>
      <TD>The Hameau de la Mer Association</TD>
      <TD></TD>
      <TD><%= @doc_seq %></TD>
      <TD></TD>
      <TD></TD>
      <TD></TD>
      <TD></TD>
    </TR>
  </TBODY>
</TABLE>
