<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
  <HEAD>
    <title>details</title>
    <META http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <meta name="GENERATOR" Content="Microsoft Visual Studio 7.0">
    <meta name="CODE_LANGUAGE" Content="C#">
    <meta name="vs_defaultClientScript" content="JavaScript">
    <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
    <LINK href="../StyleSheets/Stylesheet.css" type="text/css" rel="stylesheet">
    <script>
      var selectedControl = 'Parties'

      // these functions are overridden in the print control
      function Form_Load() {
      }
      function SelectionChanged() {
      }
    </script>
  </HEAD>
  <body onload="Form_Load()" topmargin="0" bottommargin="0" leftmargin="0">
    <table width="100%" height="100%">
      <tr valign="top">
        <td bgColor="#ffffff" align="right" width="2%">
          <table border="0" cellspacing="0" cellpadding="2">
            <tr bgcolor="white">
              <td align="center" width="0" bgColor='white'></td>
              <td align="center" class="tableheader" bgColor="#803248"><a href='detailstab.aspx?tab=details&amp;nameSeq=506954&amp;docSeq=2132727'><img src="../Images/details.gif" border="0" alt="View details"></a></td>
            </tr>
            <tr bgcolor="white">
              <td align="center" width="0" bgColor='#803248'></td>
              <td align="center" class="tableheader" bgColor="#803248"><a href='detailstab.aspx?tab=parties&amp;nameSeq=506954&amp;docSeq=2132727'><img src="../Images/parties.gif" border="0" alt="View parties"></a></td>
            </tr>
            <tr bgcolor="white">
              <td align="center" width="0" bgColor='white'></td>
              <td align="center" class="tableheader" bgColor="#803248"><a href='detailstab.aspx?tab=properties&amp;nameSeq=506954&amp;docSeq=2132727'><img src="../Images/property.gif" border="0" alt="View properties"></a></td>
            </tr>
            <tr bgcolor="white">
              <td align="center" width="0" bgColor='white'></td>
              <td align="center" class="tableheader" bgColor="#803248"><a href='detailstab.aspx?tab=emargements&amp;nameSeq=506954&amp;docSeq=2132727'><img src="../Images/emargement.gif" border="0" alt="View Emargements"></a></td>
            </tr>
            <tr bgcolor="white">
              <td align="center" width="0" bgColor='white'></td>
              <td align="center" class="tableheader" bgColor="#803248"><a href='detailstab.aspx?tab=electronic&amp;nameSeq=506954&amp;docSeq=2132727'><img src="../Images/electronic.gif" border="0" alt="View Electronic docs"></a></td>
            </tr>
            <tr bgcolor="white">
              <td align="center" width="0" bgColor="white"></td>
              <td align="center" class="tableheader" bgColor="#803248"><a id="lnk_Image" href="../Search/ViewImage.aspx?nameSeq=506954&amp;docSeq=2132727" target="image"><img src="../Images/image.gif" border="0" alt="View book images"></a></td>
            </tr>
            <tr bgcolor="white">
              <td align="center" width="0" bgColor='white'></td>
              <td align="center" class="tableheader" bgColor="#803248"><a href='detailstab.aspx?tab=print&amp;nameSeq=506954&amp;docSeq=2132727'><img src="../Images/print.gif" border="0" alt="Print"></a></td>
            </tr>
          </table>
        </td>
        <td valign="top" rowspan="5">

          <table cellSpacing="1" width="100%" border="0">
            <tr>
              <td class="TableHeader">Party Code</td>
              <td class="TableHeader">Surname/Corporate Name</td>
              <td class="TableHeader">Forename(s)</td>
              <TD class="TableHeader">Maiden Name</TD>
              <TD class="TableHeader">Extended Text</TD>
            </tr>

            <tr>
              <td class="TableRow1">Donor / Transferor - Realty</td>
              <td class="TableRow1">Seelleur Le</td>
              <td class="TableRow1">John Wilfred</td>
              <TD class="TableRow1"></TD>
              <TD class="TableRow1"></TD>
            </tr>

            <tr>
              <td class="TableRow2">Donee / Transferee - Realty</td>
              <td class="TableRow2">Seelleur Le</td>
              <td class="TableRow2">James Gerard</td>
              <TD class="TableRow2"></TD>
              <TD class="TableRow2"></TD>
            </tr>

          </table>

        </td>
      </tr>
    </table>
  </body>
</HTML>
