<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
<HEAD>
<title>details</title>
<META http-equiv="Content-Type" content="text/html; charset=windows-1252">
<meta name="GENERATOR" Content="Microsoft Visual Studio 7.0">
<meta name="CODE_LANGUAGE" Content="C#">
<meta name="vs_defaultClientScript" content="JavaScript">
<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
<LINK href="../StyleSheets/Stylesheet.css" type="text/css" rel="stylesheet">
<script>
var selectedControl = 'Properties'

// these functions are overridden in the print control
function Form_Load() {
}
function SelectionChanged() {
}
</script>
</HEAD>
<body onload="Form_Load()" topmargin="0" bottommargin="0" leftmargin="0">
<table width="100%" height="100%">
<tr valign="top">
<td bgColor="#ffffff" align="right" width="2%">
<table border="0" cellspacing="0" cellpadding="2">
<tr bgcolor="white">
<td align="center" width="0" bgColor='white'></td>
<td align="center" class="tableheader" bgColor="#803248"><a href='detailstab.aspx?tab=details&amp;nameSeq=506954&amp;docSeq=2132727'><img src="../Images/details.gif" border="0" alt="View details"></a></td>
</tr>
<tr bgcolor="white">
<td align="center" width="0" bgColor='white'></td>
<td align="center" class="tableheader" bgColor="#803248"><a href='detailstab.aspx?tab=parties&amp;nameSeq=506954&amp;docSeq=2132727'><img src="../Images/parties.gif" border="0" alt="View parties"></a></td>
</tr>
<tr bgcolor="white">
<td align="center" width="0" bgColor='#803248'></td>
<td align="center" class="tableheader" bgColor="#803248"><a href='detailstab.aspx?tab=properties&amp;nameSeq=506954&amp;docSeq=2132727'><img src="../Images/property.gif" border="0" alt="View properties"></a></td>
</tr>
<tr bgcolor="white">
<td align="center" width="0" bgColor='white'></td>
<td align="center" class="tableheader" bgColor="#803248"><a href='detailstab.aspx?tab=emargements&amp;nameSeq=506954&amp;docSeq=2132727'><img src="../Images/emargement.gif" border="0" alt="View Emargements"></a></td>
</tr>
<tr bgcolor="white">
<td align="center" width="0" bgColor='white'></td>
<td align="center" class="tableheader" bgColor="#803248"><a href='detailstab.aspx?tab=electronic&amp;nameSeq=506954&amp;docSeq=2132727'><img src="../Images/electronic.gif" border="0" alt="View Electronic docs"></a></td>
</tr>
<tr bgcolor="white">
<td align="center" width="0" bgColor="white"></td>
<td align="center" class="tableheader" bgColor="#803248"><a id="lnk_Image" href="../Search/ViewImage.aspx?nameSeq=506954&amp;docSeq=2132727" target="image"><img src="../Images/image.gif" border="0" alt="View book images"></a></td>
</tr>
<tr bgcolor="white">
<td align="center" width="0" bgColor='white'></td>
<td align="center" class="tableheader" bgColor="#803248"><a href='detailstab.aspx?tab=print&amp;nameSeq=506954&amp;docSeq=2132727'><img src="../Images/print.gif" border="0" alt="Print"></a></td>
</tr>
</table>
</td>
<td valign="top" rowspan="5">


<script>
function showProperty(url)
{
var features = "height=" + (screen.height - 200) + ", width=" + (screen.width - 20) + ", left=0, top=0, resizable=yes, scrollbars=yes, toolbar=yes, status=yes, location=yes, menubar=yes";
var wdw = window.open(url, "property", features);
wdw.focus();
}
</script>

<table cellSpacing="1" width="100%" border="0">
<tr>
<td class="TableHeader" bgColor="#803248">Property</td>
<td class="TableHeader" bgColor="#803248">Parish</td>
<td class="TableHeader" bgColor="#803248">Address Line 1</td>
<TD class="TableHeader" bgColor="#803248">Address Line 2</TD>
<TD class="TableHeader" bgColor="#803248">Address Line 3</TD>
</tr>

<tr>
<td class="TableRow1">

<a href="#" onclick="showProperty('http://maps.digimap.je/pride/?uprn=69116063');return false;">69116063</a>

</td>
<td class="TableRow1">St. Martin</td>
<td class="TableRow1">Les Chasses Farm,</td>
<TD class="TableRow1">La Rue de Guilleaume et d'Anneville,</TD>
<TD class="TableRow1"></TD>
</tr>

<tr>
<td class="TableRow2">

<a href="#" onclick="showProperty('http://maps.digimap.je/pride/?uprn=69212870');return false;">69212870</a>

</td>
<td class="TableRow2">St. Martin</td>
<td class="TableRow2">Field No. 546,</td>
<TD class="TableRow2">La Grande Route de Faldouet,</TD>
<TD class="TableRow2"></TD>
</tr>

<tr>
<td class="TableRow1">

<a href="#" onclick="showProperty('http://maps.digimap.je/pride/?uprn=69212871');return false;">69212871</a>

</td>
<td class="TableRow1">St. Martin</td>
<td class="TableRow1">Field No. 547,</td>
<TD class="TableRow1">La Rue de Guilleaume et d'Anneville,</TD>
<TD class="TableRow1"></TD>
</tr>

<tr>
<td class="TableRow2">

<a href="#" onclick="showProperty('http://maps.digimap.je/pride/?uprn=69212968');return false;">69212968</a>

</td>
<td class="TableRow2">St. Martin</td>
<td class="TableRow2">Field No. 547A,</td>
<TD class="TableRow2">La Rue de Guilleaume et d'Anneville,</TD>
<TD class="TableRow2"></TD>
</tr>

<tr>
<td class="TableRow1">

<a href="#" onclick="showProperty('http://maps.digimap.je/pride/?uprn=69212857');return false;">69212857</a>

</td>
<td class="TableRow1">St. Martin</td>
<td class="TableRow1">Field No. 528,</td>
<TD class="TableRow1">La Rue de Guilleaume et d'Anneville,</TD>
<TD class="TableRow1"></TD>
</tr>

<tr>
<td class="TableRow2">

<a href="#" onclick="showProperty('http://maps.digimap.je/pride/?uprn=69212967');return false;">69212967</a>

</td>
<td class="TableRow2">St. Martin</td>
<td class="TableRow2">Field No. 545B,</td>
<TD class="TableRow2">La Rue de Guilleaume et d'Anneville,</TD>
<TD class="TableRow2"></TD>
</tr>

<tr>
<td class="TableRow1">

<a href="#" onclick="showProperty('http://maps.digimap.je/pride/?uprn=69212869');return false;">69212869</a>

</td>
<td class="TableRow1">St. Martin</td>
<td class="TableRow1">Field No. 545,</td>
<TD class="TableRow1">La Rue de Guilleaume et d'Anneville,</TD>
<TD class="TableRow1"></TD>
</tr>

<tr>
<td class="TableRow2">

<a href="#" onclick="showProperty('http://maps.digimap.je/pride/?uprn=69212858');return false;">69212858</a>

</td>
<td class="TableRow2">St. Martin</td>
<td class="TableRow2">Field No. 530,</td>
<TD class="TableRow2">La Rue de Guilleaume et d'Anneville,</TD>
<TD class="TableRow2"></TD>
</tr>

<tr>
<td class="TableRow1">

<a href="#" onclick="showProperty('http://maps.digimap.je/pride/?uprn=69212842');return false;">69212842</a>

</td>
<td class="TableRow1">St. Martin</td>
<td class="TableRow1">Field No. 474,</td>
<TD class="TableRow1">La Rue de Basacre,</TD>
<TD class="TableRow1"></TD>
</tr>

<tr>
<td class="TableRow2">

<a href="#" onclick="showProperty('http://maps.digimap.je/pride/?uprn=69212920');return false;">69212920</a>

</td>
<td class="TableRow2">St. Martin</td>
<td class="TableRow2">Field No. 648,</td>
<TD class="TableRow2">La Rue des Marettes,</TD>
<TD class="TableRow2"></TD>
</tr>

<tr>
<td class="TableRow1">

<a href="#" onclick="showProperty('http://maps.digimap.je/pride/?uprn=69212882');return false;">69212882</a>

</td>
<td class="TableRow1">St. Martin</td>
<td class="TableRow1">Field No. 582,</td>
<TD class="TableRow1">La Rue des Alleurs,</TD>
<TD class="TableRow1"></TD>
</tr>

<tr>
<td class="TableRow2">

<a href="#" onclick="showProperty('http://maps.digimap.je/pride/?uprn=69212881');return false;">69212881</a>

</td>
<td class="TableRow2">St. Martin</td>
<td class="TableRow2">Field No. 581,</td>
<TD class="TableRow2">La Rue des Alleurs,</TD>
<TD class="TableRow2"></TD>
</tr>

<tr>
<td class="TableRow1">

<a href="#" onclick="showProperty('http://maps.digimap.je/pride/?uprn=69212899');return false;">69212899</a>

</td>
<td class="TableRow1">St. Martin</td>
<td class="TableRow1">Field No. 600,</td>
<TD class="TableRow1">La Chasse Mallet,</TD>
<TD class="TableRow1"></TD>
</tr>

</table>

</td>
</tr>
</table>
</body>
</HTML>
